@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

.header {
  padding: 22px 0;
  background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__tel-img {
  margin: 0 12px 0 0;
}

.header__tel-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__tel-text a {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;
}

.header__tel-text a:hover {
  text-decoration: underline;
}

.header__tel-text a:not(:last-child) {
  margin: 0 12px 0 0;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__location-img {
  margin: 0 8px 0 0;
}

.header__location-text {
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  color: #ffffff;
}

.header__inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.header__inst-img {
  margin: 0 15px 0 0;
}

.header__inst-text {
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}

.header__inst-text:hover {
  text-decoration: underline;
}

@media (max-width: 670px) {
  .header__tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 10px 0;
  }
  .header__tel-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__tel-img {
    display: none;
  }
  .header__location-img {
    display: none;
  }
  .header__content {
    display: block;
  }
  .header-item:last-child {
    display: none;
  }
}

.footer {
  background: url(../img/footer/bg-1.png) 5% 80px no-repeat, url(../img/footer/bg-2.png) 88% 20px no-repeat;
  padding: 160px 0 50px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 150%;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.footer__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__subtitle a,
.footer span {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #000;
}

.footer__subtitle a,
.footer span:not(:last-child) {
  margin: 0 0 5px 0;
}

.footer__subtitle a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  .footer {
    background: url(../img/footer/bg-3.png) 5% 80px no-repeat, url(../img/footer/bg-4.png) 88% 20px no-repeat;
    padding: 50px 0 30px;
  }
}

@media (max-width: 670px) {
  .footer {
    background: none;
    padding: 20px 0 10px;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 15px;
  }
  .footer__subtitle span {
    text-align: center;
  }
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media (max-width: 1250px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 630;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: none;
  }
}
