.footer {
	background: url(../img/footer/bg-1.png) 5% 80px no-repeat, url(../img/footer/bg-2.png) 88% 20px no-repeat;
	padding: 160px 0 50px;

	&__content {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
	}
	&__title {
		font-weight: bold;
		font-size: 14px;
		line-height: 150%;
		margin: 0 0 10px;
		text-transform: uppercase;
	}
	&__subtitle {
		display: flex;
		flex-direction: column;
	}
	&__subtitle a,
	span {
		font-weight: 300;
		font-size: 14px;
		line-height: 150%;
		color: #000;
	}
	&__subtitle a,
	span:not(:last-child) {
		margin: 0 0 5px 0;
	}
	&__subtitle a:hover {
		text-decoration: underline;
	}
}
@media (max-width: 992px) {
	.footer {
		background: url(../img/footer/bg-3.png) 5% 80px no-repeat, url(../img/footer/bg-4.png) 88% 20px no-repeat;
		padding: 50px 0 30px;
	}
}
@media (max-width: 670px) {
	.footer {
		background: none;
		padding: 20px 0 10px;

		&__content {
			flex-direction: column;
			align-items: center;
		}
		&__column {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0 0 15px;
		}
		&__subtitle span {
			text-align: center;
		}
	}
}
