.header-item {
	flex: 1 1 33.333%;
}
.header {
	padding: 22px 0;
	background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%);

	&__content {
		display: flex;
		align-items: center;
	}
	&__tel {
		display: flex;
		align-items: center;
	}
	&__tel-img {
		margin: 0 12px 0 0;
	}
	&__tel-text {
		display: flex;
		flex-wrap: wrap;
	}
	&__tel-text a {
		font-weight: 500;
		font-size: 15px;
		line-height: 150%;
		color: #ffffff;
	}
	&__tel-text a:hover {
		text-decoration: underline;
	}
	&__tel-text a:not(:last-child) {
		margin: 0 12px 0 0;
	}
	&__location {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__location-img {
		margin: 0 8px 0 0;
	}
	&__location-text {
		font-weight: 500;
		font-size: 15px;
		line-height: 150%;
		color: #ffffff;
	}
	&__inst {
		display: flex;
		align-items: center;
		justify-content: end;
	}
	&__inst-img {
		margin: 0 15px 0 0;
	}
	&__inst-text {
		font-weight: 500;
		font-size: 15px;
		color: #ffffff;
	}
	&__inst-text:hover {
		text-decoration: underline;
	}
}
@media (max-width: 670px) {
	.header__tel {
		justify-content: center;
		margin: 0 0 10px 0;
	}
	.header__tel-text {
		flex-direction: column;
	}
	.header__tel-img {
		display: none;
	}
	.header__location-img {
		display: none;
	}
	.header__content {
		display: block;
	}
	.header-item:last-child {
		display: none;
	}
}
