.button {
	position: relative;
	display: inline-block;
	background: linear-gradient(95.2deg, #b90160 2.23%, #2e3192 99.51%);
	border-radius: 7px;
	padding: 15px 44px;
	transition: 0.2s;
}
.button:hover {
	background: linear-gradient(95.2deg, #2e3192 2.23%, #b90160 99.51%);
	box-shadow: 7px 7px 10px #cc9ae4;
	transition: 0.3s;
}
.card {
	border-radius: 10px;
	box-shadow: 3px 3px 20px rgb(201, 198, 198);
	overflow: hidden;
	max-width: 344px;
	margin: 0 15px;
	background: #fff;

	&__img img {
		width: 100%;
	}
	&__text {
		margin: 22px;
	}
	&__text-title {
		font-weight: bold;
		font-size: 36px;
		line-height: 42px;
		text-transform: uppercase;
		margin: 0 0 14px;
	}
	&__text-subtitle {
		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		color: #767676;
	}
	&__text-subtitle p:not(:last-child) {
		margin-bottom: 15px;
	}
}
.main {
	background: url(../img/main/bg_1.jpg) center 170px / 100% no-repeat, url(../img/main/bg_2.jpg) 0 98% no-repeat;

	&__content {
		padding: 50px 0 220px;
	}
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__header-logo {
		font-style: italic;
		font-weight: 900;
		font-size: 36px;
		line-height: 150%;
		text-transform: uppercase;
	}
	&__header-nav {
		margin: 0 0 15px 15px;
	}
	&__header-nav-item {
		display: inline-block;
	}
	&__header-nav-item:not(:last-child) {
		margin: 0 25px 0 0;
	}
	&__header-nav-link {
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		color: #737373;
	}
	&__header-nav-link:hover {
		text-decoration: underline;
	}
	&__order {
		display: flex;
		align-items: center;
		margin-bottom: 90px;
	}
	&__order-text {
		margin-top: 60px;
	}
	&__order-text-title {
		font-weight: 900;
		font-size: 50px;
		line-height: 120%;
		margin-bottom: 15px;
	}
	&__order-text-subtitle {
		font-weight: 300;
		font-size: 24px;
		line-height: 120%;
		margin-bottom: 25px;
	}
	&__order-text-button {
		font-weight: 900;
		font-size: 20px;
		text-align: center;
		color: #ffffff;
	}
	&__order-img {
	}
	&__order-img img {
		width: 100%;
	}
	&__bottom-title {
		font-size: 50px;
		font-weight: normal;
		line-height: 59px;
		text-align: center;
		margin: 0 0 100px;
	}
	&__bottom-title span {
		text-transform: uppercase;
		background: linear-gradient(180deg, #b90160 0%, #3d5bf5 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	&__bottom-cards {
		display: flex;
		justify-content: space-between;
	}
}
@media (max-width: 1188px) {
	.main {
		background: url(../img/main/bg_1_t.jpg) center 50px / 100% no-repeat, url(../img/main/bg_2_t.jpg) 0 70% no-repeat,
			url(../img/main/bg_3_t.jpg) right bottom no-repeat;
	}
}
@media (max-width: 870px) {
	.card__text-title {
		font-size: 30px;
	}
}
@media (max-width: 768px) {
	.main__header-nav {
		display: none;
	}
	.main__order-text-title {
		font-size: 40px;
	}
	.main__bottom-title {
		font-size: 40px;
		margin: 0 0 30px;
	}
	.main__bottom-cards {
		flex-direction: column;
	}
	.card {
		max-width: 595px;
		margin: 30px auto;

		&__img {
			height: 160px;
			overflow: hidden;
		}
		&__img img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}
@media (max-width: 426px) {
	.main {
		background: url(../img/main/bg_1_t.jpg) center 50px / 100% no-repeat;

		&__content {
			padding: 26px 0 100px;
		}
		&__order-img {
			display: none;
		}
		&__order {
			margin: 0 0 50px;
		}
		&__header {
			display: flex;
			justify-content: center;
		}
		&__header-logo {
			font-size: 25px;
		}
		&__header-logo img {
			width: 60px;
			height: 36px;
		}
		&__order-text {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 38px;
		}
		&__order-text-title {
			font-size: 25px;
			padding: 0 50px;
			margin: 0 0 8px;
			text-align: center;
		}
		&__order-text-subtitle {
			margin: 0 0 15px;
		}
		&__bottom-title {
			font-size: 20px;
			line-height: 100%;
			margin: 0 0 35px;
		}
	}
	.card {
		margin: 15px 0;
	}
	.card__text-title {
		font-size: 30px;
	}
}
