@import "_normalize";
@import "_header";
@import "_main";
@import "_footer";

body {
	font-family: "Roboto", sans-serif;
	font-weight: 300;
}
html {
	scroll-behavior: smooth;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}
.content {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}
